joblib~=0.16.0
numpy==1.19.1
pandas==1.1.1
requests==2.24.0
scikit-learn==0.23.2
tabulate==0.8.7
tensorflow==2.3.0
termcolor==1.1.0
holidays~=0.10.3
keras~=2.4.3
matplotlib~=3.3.1
bump2version

PyYAML~=5.3.1
mplfinance~=0.12.7a0
mlflow~=1.11.0
scipy~=1.4.1