[flake8]
ignore = 
    E305,   # expected 2 blank lines after class or function definition
    E302,   # expected two blank lines
    F812,   # list comprehension redefines
    H101    # Use TODO(NAME)
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    dist
max-complexity = 10
